<!DOCTYPE html>
<html>
  <head>
    <title>Twitter / Interactions</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/connect.css' />
  </head>
  <body>
    <div id="doc">
      <div>
        <% include topbar %>
      </div>
      <div id="page-container" class="page">
        <div id='dashboard' class="dashboard">
          <% include connect_nav_module %>
          <% include who_to_follow_module %>
          <% include trends_module %>
        </div>
        <% include interactions_timeline %>
      </div>
    </div>
  </body>
</html>