<div class="navigation module">
	<ul>
		<li class="navigation-item"><a href="/connect">Interactions</a></li>
		<li class="separator navigation-item"><a href="/mentions">Mentions</a></li>
	</ul>
</div>