<div class="timeline module">
	<div class="follower-header">
    	<b>Followers</b>
    </div>
    <ul id="followers-list">
	<% for(var i=followers.length-1; i>=0; i--) {%>
	  	<li>
	  		<div>
		   		<a href="/<%= followers[i].username %>">
		   			<div class="separator owner">
		   				<%= followers[i].fullname %><small> @<%= followers[i].username %></small>
		   			</div>
		   		</a>
		   	</div>
	   	</li>
	<% } %>
	</ul>
</div>