<!DOCTYPE html>
<html>
  <head>
    <title>Twitter / Following</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/profile.css' />
    <script type="text/javascript" src="/javascript/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascript/profile.js"></script>
    <script src="/javascript/trends.js"></script>
  </head>
  <body onload="Profile.initialize('<%= user.username %>', <%= followers.length %>, '<%= profile.username %>'); Trends.initialize('<%= user.username %>');">
    <div id="doc">
      <div>
        <% include topbar %>
      </div>
      <div id="page-container" class="page">
        <div id='dashboard' class="LHS">
          <% include profile_nav_module %>
          <% include who_to_follow_module %>
          <% include trends_module %>
        </div>
        <div class="RHS">
          <% include profile_card_module %>
          <% include following_timeline %>
        </div>
      </div>
    </div>
  </body>
</html>