<div class="timeline module">
	<div class="following-header">
    Following
    </div>
    <ul>
	<% for(var i=following.length-1; i>=0; i--) {%>
	  	<li>
	  		<div>
		   		<a href="/<%= following[i].username %>">
		   			<div>
		   				<%= following[i].fullname %><small> @<%= following[i].username %></small>
		   			</div>
		   		</a>
		   	</div>
	   	</li>
	<% } %>
	</ul>
</div>