<!DOCTYPE html>
<html>
  <head>
    <title>Twitter / Groups</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascript/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascript/groups.js"></script>
    <script type="text/javascript" src="/javascript/trends.js"></script>
  </head>
  <body onload="Groups.initialize(0, '<%= user.fullname %>', '<%= user.username %>'); Trends.initialize('<%= user.username %>');">
    <div id="doc">
      <div>
        <% include topbar %>
      </div>
      <div id="page-container" class="page">
        <div id='dashboard' class="dashboard LHS">
          <% include groups_nav_module %>
          <% include who_to_follow_module %>
          <% include trends_module %>
        </div>
        <div class="RHS">
          <% include tweet_timeline %>
        </div>
      </div>
    </div>
  </body>
</html>
