<div class="create_form module">
  <table class="create_input">
    <tr>
      <td> 
        <b>Full name</b>
      </td>
      <td> 
        <input type="text" id="fullname"/>
      </td>
    <tr>
      <td> 
        <b>Username</b>
      </td>
      <td>  
        <input type="text" id="username"/>
      </td>
    </tr>
    <tr>
      <td>
        <button id="create_group" onclick="Groups.create_group()" type="button">Create Group</button>
      </td>
      <td>
        <label id="create_result" class="result_success"></label>
      </td>
    </tr>
  </table>
</div>