<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <% if (!login) {%>
        <div><% include index_not_login %></div>
      <% } else { %>
        <div><% include index_login %></div>
      <% } %>
  </body>
</html>
