<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <script type="text/javascript" src="/javascript/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascript/tweets.js"></script>
    <script type="text/javascript" src="/javascript/trends.js"></script>
  </head>
  <body onload="Tweets.initialize('<%= user.username %>', <%= num_tweets %>); Trends.initialize('<%= user.username %>')">
    <div id="doc">
      <% include topbar %>
      <div id="page-container" class="page">
        <div id='dashboard' class="dashboard LHS">
          <% include mini_profile_module %>
          <% include who_to_follow_module %>
          <% include trends_module %>
        </div>
        <div class="RHS">
          <% include tweet_timeline %>
        </div>
      </div>
    </div>
  </body>
</html>
