    <a href="/"><%= first %></a>
    <lang><%= last %></lang>
    <table>
    <tr>
    <td>
    <div id="greeting">
      <p><welcome>Welcome To Twitter.</welcome><br />
      Find out what's happening, right now, with the people and organizations you care about.</p>
    </div>
    </td>
    <td>
    <div id="login">
      <form name="login" action="/login" method="post">
        <input type="text" placeholder="Username or email" name="username" value="test"><br />
        <input type="password" placeholder="Password" name="password" value="123">
        <input type="submit" value="Sign in"><br />
        <input type="checkbox" name="remember" value="remember">
          <a href="#">Remember me</a>&nbsp;.&nbsp;<a href="#">Forgot password?</a>
        <% if(error) { %>
          <div><%= error %></div>
        <% } %>
      </form>
    </div>
    <div id="signup">
      <form name="signup" action="/signup" method="post">
        <a>New To Twitter? Sign up</a><br />
        <input type="text" placeholder="Full name" name="name"><br />
        <input type="text" placeholder="Email" name="email"><br />
        <input type="password" placeholder="Password" name="password"><br />
        <input id="signin_submit" type="submit" value="Sign up for Twitter">
      </form>
    </div>
    </td>
    </tr>
    </table>
