<!DOCTYPE html>
<html>
  <head>
    <title>Sign in to Twitter</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <script type="text/javascript" src="/javascript/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
  <div class="topbar">
    <div class="topbar_contents">
      <a href="/" ><img width="40" height="40" src="../images/twitter-bird-light-bgs.png"></img></a>
      <lang>Language: English</lang>
    </div>
  </div>
  <div class='login'>
    <% if (errmsg != '') {%>
    <div class='alert-messages'>
      <div class='message'>
        <p id='the-message' align='center'><%= errmsg %></p>
      </div>
    </div>
    <% } %>
    <table>
      <tr>
        <td>
          <div><%= errmsg %></div>
        </td>
      </tr>
      <tr>
        <td>
          <form method="post" action='/login'>
            <header>Sign in to Twitter</header><br />
            <input type="text" name="username" value=<%= username_or_email %>>
            Forgot your <a href="#">username</a> ? <br /><br />
            <input type="password" name="password">
            Forgot your <a href="#">password</a> ? <br /><br />
            <input type="submit" value="Sign in">
            <input type="checkbox" name="remember" value="remember"> Remember me <br />
            <input type="hidden" name="redirect_after_login" value="0">
          </form>
        </td>
      </tr>
      <tr>
        <td style="background-color: #EEEEEE"><div id="other">
          New to Twitter? <a href="/signup">Sign up now >></a><br />
          Already using Twitter via text message? <a href="#">Activate your account >></a>
        </div></td>
      </tr>
    </table>
    </div>
  </body>
</html>
