<div align="center" class="profile-card module">
	<div class="profile-header">
	    <div class="fullname">
	      <%= user.fullname %><small> @<%= user.username %></small>
	    </div>
    </div>
    <div class="account-stats">
    	<table border="1" cellspacing=0>
			<tr>
			<td><%= num_tweets %> tweets</td>
			<td>0 following</td>
			<td>0 followers</td>
			</tr>
		</table>
		<div>Follow</div>
	</div>
</div>