<!DOCTYPE html>
<html>
  <head>
    <title>Twitter / Discover</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/profile.css' />
  </head>
  <body>
    <div id="doc">
      <div>
        <% include topbar %>
      </div>
      <div id="page-container" class="page">
        <div id='dashboard' class="LHS">
          <% include profile_nav_module %>
          <% include who_to_follow_module %>
          <% include trends_module %>
        </div>
        <div class="RHS">
          <% include profile_card_module %>
          <% include profile_timeline %>
        </div>
      </div>
    </div>
  </body>
</html>