<div class="navigation module">
	<ul>
		<li><a href="/<%= user.username %>">Tweets</a></li>
		<li><a href="/<%= user.username %>/following">Following</a></li>
		<li><a href="/<%= user.username %>/followers">Followers</a></li>
		<li><a href="/<%= user.username %>/favorites">Favorites</a></li>
	</ul>
</div>