<div class="navigation module">
	<ul>
		<li><a href="/<%= username %>">Tweets</a></li>
		<li><a href="/<%= username %>/following">Following</a></li>
		<li><a href="/<%= username %>/followers">Followers</a></li>
		<li><a href="/<%= username %>/favorites">Favorites</a></li>
	</ul>
</div>