<div class="navigation module">
	<ul>
		<li class="navigation-item"><a href="/<%= profile.username %>">Tweets</a></li>
		<li class="separator navigation-item"><a href="/<%= profile.username %>/following">Following</a></li>
		<li class="separator navigation-item"><a href="/<%= profile.username %>/followers">Followers</a></li>
		<li class="separator navigation-item"><a href="/<%= profile.username %>/favorites">Favorites</a></li>
	</ul>
</div>