<!DOCTYPE html>
<html>
  <head>
    <title>Twitter / Search</title>
    <% include global_includes %>
    <link rel='stylesheet' href='/stylesheets/profile.css' />
    <script src="/javascript/search.js"></script>
  </head>
  <body onload="Trends.initialize('<%= user.username %>');">
    <div id="doc">
      <div>
        <% include topbar %>
      </div>
      <div id="page-container" class="page">
        <div id='dashboard' class="LHS">
          <% include who_to_follow_module %>
          <% include trends_module %>
        </div>
        <div id='RHS' class="RHS">
          <% include tweet_timeline %>
        </div>
      </div>
    </div>
  </body>
</html>