<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/settings.css' />
    <script type="text/javascript" src="/javascript/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div id="doc">
      <div>
        <% include topbar %>
      </div>
      <div id="page-container" class="page">
        <div id='dashboard' class="dashboard LHS">
          <% include settings_nav_module %>
        </div>
        <div class="RHS">
          <% include settings_account_module %>
        </div>
      </div>
    </div>
  </body>
</html>