<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/settings.css' />
  </head>
  <body>
    <div id="doc">
      <div>
        <% include topbar %>
      </div>
      <div id="page-container" class="page">
        <div id='dashboard' class="dashboard">
          <% include settings_nav_module %>
        </div>
        <% include settings_account_module %>
      </div>
    </div>
  </body>
</html>