<div class="navigation module">
	<ul>
		<li><a href="/settings/account">Account</a></li>
		<li><a href="/settings/password">Password</a></li>
		<li><a href="/settings/profile">Profile</a></li>
	</ul>
</div>