<div class="topbar">
	<div class="topbar_contents">
		<a href="/"><span class="topbar-button">Home</span></a>
		<a href="/connect"><span class="topbar-button">Connect</span></a>
		<a href="/discover"><span class="topbar-button">Discover</span></a>
		<a href="/<%= user.username %>"><span class="topbar-button">Me</span></a>
		<a href="/groups"><span class="topbar-button">Groups</span></a>
		<a href="/logout" class="align-right"><span class="topbar-button">Sign Out</span></a>
		<a href="/settings/profile" class="align-right"><span class="topbar-button">Settings</span></a>
	</div>
</div>