<div class="who-to-follow module">
	Who To Follow
	<a href="/test">
	    <div class="fullname">
	        Mc Testington<small> @test</small>
	    </div>
    </a>
    <a href="/argo15">
	    <div class="fullname">
	        Bill Crane<small> @argo15</small>
	    </div>
   	</a>
   	<a href="/sjobs">
	    <div class="fullname">
	        Steve Jobs<small> @sjobs</small>
	    </div>
   	</a>
</div>