table {
  	margin-top: 0px;
  	width: auto;
}

.create_form {
	padding: 5px;
}

.create_input {
	padding: 5px;
}

.profile-card {
	width: auto;
	height: auto;
	padding: 5px;
}

.account-stats {
	padding-top: 5px;
}