table {
	width: auto;
	margin-top: 0px;
}

textarea {
   resize: none;
   width: auto;
}

.dashboard {
}

.mini-profile {
	width: auto;
  	padding: 5px;
}

.account-summary {
}

.account-stats {
	padding-top: 5px;
}

.tweet-box {
	padding-top: 5px;
}

.tweet-input {
	height: 100px;
}

.tweet-button {
	height: 30px;
}