table {
	width: auto;
	margin-top: 0px;
}

table {
	width: auto;
	margin-top: 0px;
}

.profile-card {
	width: auto;
	height: auto;
	padding: 5px;
}

.account-stats {
	padding-top: 5px;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}