div {
  font-family: Arial;
}

a {
  text-decoration:none;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0px auto;
  width: 800px;
}

table {
  width: 800px;
  margin-top: 200px;
}

lang {
  float: right;
}

welcome {
  font-size: 34px;
}

#greeting {
  margin-top: auto;
  font-size: 20px;
  width: 400px;
}

#login {
  margin-top: auto;
  margin-left: auto;
  width: 310px;
  border: 2px solid black;
  padding: 5px;
  right: 0px;
}

#login a{
  font-size: 12px;
}

input[type="text"] {
  width: 300px;
}

#signup {
  margin-top: 20px;
  width: 310px;
  border: 2px solid black;
  padding: 5px;
  float: right;
}

#signup input[type="password"] {
  width: 300px;
}

#signin_submit {
  float: right;
}

.topbar {
  border-style: solid;
  border-width: 2px;
  width: auto;
}

.align-right {
   float:right;
}

.topbar-button {
  text-decoration: none;
  font-size: 1.8em;
  padding: 5px;
  color: blue;
  font-weight: bold;
}

.who-to-follow {
}

.trends {
}

.navigation {
}