div {
  font-family: Arial;
}

a {
  text-decoration:none;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0px auto;
}

table {
  width: 800px;
  margin-top: 200px;
}

lang {
  float: right;
}

welcome {
  font-size: 34px;
}

#greeting {
  margin-top: auto;
  font-size: 20px;
  width: 400px;
}

#login {
  margin-top: auto;
  margin-left: auto;
  width: 310px;
  padding: 5px;
  right: 0px;
}

#login a{
  font-size: 12px;
}

input[type="text"] {
  width: 300px;
}

#doc {
  position:absolute;
  min-height: 100%;
  min-width: 100%;
  background-image:url('../images/bg.png');
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-color: #C0DEED;
}

.page {
  overflow: hidden;
  margin: auto;
  width: 900px;
}

.RHS {
  width: 60%;
  float:right;
}

.LHS {
  width: 38%;
  float:left;
}

#signup {
  margin-top: 20px;
  width: 310px;
  padding: 5px;
  float: right;
}

#signup input[type="password"] {
  width: 300px;
}

#signin_submit {
  float: right;
}

.topbar {
  background-image:url('../images/twitter_web_sprite_bgs.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-color: #505050;
}

.topbar_contents {
  margin: auto;
  width: 900px;
}

.align-right {
   float:right;
}

.topbar-button {
  text-decoration: none;
  font-size: 1.8em;
  padding: 5px;
  color: #C0C0C0;
  font-weight: bold;
}

.who-to-follow {
    padding: 5px;
}

.trends {
    padding: 5px;
}

.navigation {
}

.navigation-item {
    font-size: 1.1em;
    padding-left: 5px;
}

.navigation-item:hover {
    color: black;
    background-color: #D0D0D0;
}

.navigation-item a {
  color: #4169E1;
}

.navigation-item a:hover {
    color: black;
}

.separator {
  border-top-style:solid;
  border-top-width:1px;
}

.timeline {
  width: auto;
}

.module {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  margin: 1em;
  background-color: white;
}

.tweet-header {
  font-size: 20px;
  padding: 5px;
  font-weight: bold;
}

.tweet {
  padding: 5px;
  border-top-style:solid;
  border-bottom-style:solid;
  border-top-width:1px;
  border-bottom-width:0.5px;
}

.tweet:hover {
  background-color:#E0E0E0;
}

.owner {
  color:black;
}

.owner:hover {
  color:blue;
  text-decoration:underline;
}

.fullname {
  color:black;
}

.fullname:hover {
  color:blue;
  text-decoration:underline;
}

.mention {
  color:blue;
}

.mention:hover {
  text-decoration:underline;
}

.join_group {
  float: right; 
  margin: auto;
}
